[user]
    name = {{ .username }}
    email = {{ .email }}

[core]
    excludesfile = ~/.gitignore_global
    editor = hx

[alias]
    s = status -sb
    l = log --oneline -7
    u = add --update
    ca = commit --amend
    rbi = rebase --interactive
    
[core]
    excludesfile = ~/.gitignore_global
    editor = hx
    
[commit]
{{ if eq .chezmoi.os "darwin" -}}
    gpgsign = true
{{- end }}
    verbose = true
    
[pull]
    rebase = true
    
[rebase]
    autosquash = true
    autostash = true
    
[merge]
{{ if eq .chezmoi.os "darwin" -}}
    conflictStyle = "zdiff3"
{{ else if eq .chezmoi.os "linux" -}}
    conflictstyle = "diff3"
{{- end }}
    
[stash]
    showPatch = true
    
[status]
    showStash = true
    
[merge]
    conflictStyle = "zdiff3"
