[user]
    name = {{ .username }}
    email = {{ .email }}

[core]
    excludesfile = ~/.gitignore_global
    editor = hx

[alias]
    s = status -sb
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    l = log --oneline -5
    dp = diff --patch-with-stat
    dh = diff --patch-with-stat HEAD
    ds = diff --patch-with-stat --staged
    sp = show --patch-with-stat
    u = add --update
    r = restore
    rs = restore --staged
    ca = commit --amend
    rbi = rebase --interactive

[color "diff"]
    old = red strike
    new = blue italic

[core]
    excludesfile = ~/.gitignore_global
    editor = hx

[commit]
{{ if eq .chezmoi.os "darwin" -}}
    gpgsign = true
{{- end }}
    verbose = true
    template = ~/.gitmessage

[pull]
    rebase = true

[rebase]
    autosquash = true
    autostash = true

[merge]
{{ if eq .chezmoi.os "darwin" -}}
    conflictStyle = "zdiff3"
{{ else if eq .chezmoi.os "linux" -}}
    conflictstyle = "diff3"
{{- end }}

[stash]
    showPatch = true

[status]
    showStash = true
