$include /etc/inputrc

set completion-ignore-case on
set show-all-if-ambiguous on
set page-completions on
set completion-query-items 200
{{ if eq .chezmoi.os "darwin" -}}
set print-completion-horizontally on
{{- end }}
set match-hidden-files off
set visible-stats on

"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-p": history-search-backward
"\C-n": history-search-forward
set editing-mode emacs
