theme = "yatfung"

[editor]
mouse = true
auto-save = true
bufferline = "always"
cursorline = true
color-modes = true
scrolloff = 0
rulers = [100, 140, 180, 220, 240]

[editor.statusline]
center = ["file-name"]
left = ["mode", "spinner", "version-control"]
right = ["diagnostics", "selections", "position", "file-type"]

[editor.whitespace]
render = "all"

[editor.whitespace.characters]
newline = "¬"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.normal]
"d" = "delete_selection_noyank"
"x" = "delete_selection"
"X" = "extend_line_below"
C-p = "move_line_up"
C-n = "move_line_down"
C-e = "goto_line_end_newline"
C-a = "goto_line_start"
C-f = "move_char_right"
C-b = "move_char_left"

[keys.select]
"x" = "delete_selection"
"X" = "extend_line_below"

[keys.insert]
C-p = "move_line_up"
C-n = "move_line_down"
C-e = "goto_line_end_newline"
C-a = "goto_line_start"
C-f = "move_char_right"
C-b = "move_char_left"
