theme = "yatfung"

[editor]
auto-pairs = false
bufferline = "always"
color-modes = true
line-number = "relative"
scrolloff = 0
rulers = [100, 140, 180, 220, 240]
popup-border = "all"

[editor.statusline]
center = ["file-name"]
left = ["mode", "spinner", "version-control", "spinner", "diagnostics"]
right = ["position", "selections", "file-type"]

[editor.file-picker]
hidden = false

[keys.normal]
C-c = "normal_mode"
"S-A-f" = ":fmt"
"A-s" = ":w"
"d" = "delete_selection_noyank"
"x" = "delete_selection"
"X" = "extend_line_below"
C-p = "move_line_up"
C-n = "move_line_down"
C-e = "goto_line_end_newline"
C-a = "goto_line_start"
C-f = "move_char_right"
C-b = "move_char_left"

[keys.select]
C-c = "normal_mode"
"x" = "delete_selection"
"X" = "extend_line_below"

[keys.insert]
"S-A-f" = ":fmt"
"A-s" = ":w"
C-c = "normal_mode"
C-p = "move_line_up"
C-n = "move_line_down"
C-e = "goto_line_end_newline"
C-a = "goto_line_start"
C-f = "move_char_right"
C-b = "move_char_left"
