inherits = "modus_vivendi"

# 'ui.background' = { bg = "yatfung-gray", fg = "yatfung-white" }
'ui.background' = { fg = "yatfung-white" }
'ui.text' = { fg = "yatfung-white" }
'ui.virtual.ruler' = { bg = "yatfung-lightgray" }
'ui.cursorline.primary' = { bg = "yatfung-lightgray"}

'comment' = { fg = "dark-orange", modifiers = [""] }
'comment.line' = { fg = "dark-orange", modifiers = [""] }
'comment.block' = { fg = "dark-orange", modifiers = [""] }
'comment.block.documentation' = { fg = "dark-orange", modifiers = [""] }

[palette]
yatfung-gray = "#1A1A1A"
yatfung-lightgray = "#282828"
yatfung-white = "#F6F6F6"
dark-orange = "#CF8C55"
