inherits = "modus_vivendi"

"ui.background" = { bg = "yatfung-grey", fg = "yatfung-white" } # Default background colour.

'ui.text' = { fg = "yatfung-white" } # Default text colour.

'comment' = { fg = "dark-orange", modifiers = ["italic"] } # This is a comment.
'comment.line' = { fg = "dark-orange", modifiers = ["italic"] } # Line comments, like this.
'comment.block' = { fg = "dark-orange", modifiers = ["italic"] } # Block comments, like /* this */ in some languages.
'comment.block.documentation' = { fg = "dark-orange", modifiers = ["italic"] } # Doc comments, e.g '///' in rust.

[palette]
yatfung-grey = "#1A1A1A"
yatfung-white = "#F6F6F6"
dark-orange = "#CF8C55"
